.features article {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 33.3%;
  float: left;
}
@media only screen and (max-width: 978px) {
  .features article { width: 50%;}
  .features article:nth-child(2n+1) { clear: left;}
}
@media only screen and (max-width: 800px) {
  .features article {
    width: auto;
    float: none;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 12px;}
  .features article:last-child {
    border-bottom: none;}
}
