.container{ padding-top:50px; }

.nav-main {
  *zoom:1;
  background:#202020;
  color:        #aaa; /*#dfe1e8;*/
  position:    fixed;
  top:             0;
  height:       50px;
  box-shadow:0 0 5px rgba(0,0,0,0.5);
  width:        100%;
  min-width:   800px;
  z-index:       100;}
.nav-end {
  *zoom:1;
  background:#202020;
  color:        #aaa;
  height:      60px;
  border-top: 10px solid #4c86b9;
  width:        100%;
  min-width:   800px;
  z-index:         4;}

.nav-main:before,
.nav-main:after { content:" ";}

.nav-main:after{ clear:both;}

.nav-main .nav-site, .nav-end .nav-site { float:right; margin:0; }
.nav-main .nav-home, .nav-end .nav-home { float: left; margin:0; }

.nav-main ul, .nav-end ul {display:inline; }

.nav-main li, .nav-end li { display:inline;}
.nav-main .nav-site li, .nav-end .nav-site li,
.nav-main .nav-home li, .nav-end .nav-home li { margin:0;}

.nav-main .nav-site a,
.nav-main .nav-home a {
  padding:           0 8px;
  text-transform:uppercase;
  letter-spacing:      1px;
  line-height:        50px;
  display:    inline-block;
  height:             50px;
  color:              #aaa;}
.nav-end a {
  /*padding:        0 8px;*/
  letter-spacing:   1px;
  line-height:     50px;
  display: inline-block;
  height:          50px;
  color:           #aaa;}

.nav-main .nav-site a:hover,
.nav-main .nav-home a:hover {
  color:            #dfe1e8;
  background-color: #b9525c;}

.nav-main .nav-site a.active,
.nav-main .nav-home a.active {
  color:                   #dfe1e8;
  border-bottom: 5px solid #bf616a;
  background:                 #333;}

.wrap {
  max-width:    960px;
  margin-left:   auto;
  margin-right:  auto;
  padding-left:  20px;
  padding-right: 20px;}

.nav-main:hover a, .nav-end:hover a {
  color: #dfe1e8;}

.nav-site a:hover, .nav-home a:hover{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}
.nav-main a {
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;}
.nav-end a {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}

.nav-logo {
  vertical-align:middle;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (min--moz-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 1.3 / 1),
  only screen and (min-resolution: 125dpi),
  only screen and (min-resolution: 1.3dppx){
    .nav-main .nav-logo {
      background-size:38px 38px;}}
