.docs-container h1, h2, h3, h4, h5, h6 {
  color: #232830;}

.docs-container h2 {
  font-size: 32px;
  margin-bottom: 14px;
  padding-top: 12px;}

.docs-container h3 {
  clear: both;
  font-size: 22px;
  margin-bottom: 12px;
  padding-top: 32px;}

.intro h3 {
  color: #566076;
  font-weight: normal;}

.docs-container {
    margin: 0 auto;
    max-width: 978px;
    padding: 80px 80px;
    transition: -webkit-transform 200ms ease-in-out 0s, -moz-transform 200ms ease-in-out 0s, -o-transform 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
}
@media only screen and (max-width: 978px) {
.docs-container {
    padding: 40px;
}
}
@media only screen and (max-width: 600px) {
.docs-container {
    padding: 20px;
}
}

article {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 40px;
    padding-top: 40px;
}
@media only screen and (max-width: 600px) {
article {
    padding-bottom: 20px;
    padding-top: 20px;
}
}
article:first-child {
    padding-top: 0;
}
article ul {
    padding-left: 20px;
}
article ul li {
    color: #566076;
    line-height: 22px;
    margin-bottom: 12px;
}
@media only screen and (max-width: 600px) {
article ul li {
    font-size: 14px;
}
}
