* {
  padding: 0;
  margin:  0;
  color: inherit;
  -moz-osx-font-smoothing:   grayscale;
   -webkit-font-smoothing: antialiased;}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}

body {
  position: relative;
  font-family: "proxima-nova", 'Helvetica Neue', 'Helvetica', 'sans-serif';
  color: #202020;
  min-width: 800px;}

lesshat-selector {-lh-property: 0;}
::selection      {color: #dfe1e8; background: #5b90bf;}
::-moz-selection {color: #dfe1e8; background: #5b90bf;}
::-webkit-selection {color: #dfe1e8; background: #5b90bf;}

h1 {
  font-size: 42px;
  margin-bottom: 30px;}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
    margin-bottom: 22px;}}

h2 {
  font-size: 22px;
  margin-bottom: 14px;
  padding-top: 12px;}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 12px;
    margin-bottom: 8px;}}

h3 {
  clear: both;
  font-size: 22px;
  margin-bottom: 12px;
  padding-top: 32px;}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 18px;}}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
  padding-top: 10px;}
@media only screen and (max-width: 600px) {
  h4 {
    font-size: 16px;
    margin-bottom: 6px;}}

p {
  margin: 20px 0;
  text-align:  justify;
  font-size: 18px;
  line-height: 28px;}

a {
  color: #5b90bf;
  text-decoration: none;}

.aspect-ratio {
  width: 100%;
  padding-top: 30%;
  position: relative;
  background-color: #202020;
  border-bottom: 10px solid #4c86b9;}

header {
  position: absolute;
  left: 0;
  width: 100%;
  top: 30%;
  -webkit-transform: translateY(-30%);
     -moz-transform: translateY(-30%);
       -o-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
  text-align: center;
  color: #dfe1e8;
  z-index: 5;}
header h1 { margin-bottom: 30px;}
header h2 { margin-bottom: 30px; color:#aaa;}
@media only screen and (max-width: 800px) {
  header {
    color: #202020;
    top: 100%;
    margin-top: 10px;
    padding: 40px 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #e1e1e1;
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    z-index: 3;
  }
  header h1 { font-size: 38px; margin-bottom: 10px;}
  header h2 { font-size: 16px; margin-bottom: 20px; color: #202020;}
  header .btn {
    min-width: 136px;
    font-size: 14px;
    padding: 18px 20px;
    margin: 0 5px;}
}

.content-main {
  background-color: #fff;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 2;
}
@media only screen and (max-width: 800px) {
  .content-main { padding-top: 256px;}
}

.container { margin: 0 auto;}
.container:after { content: ''; display: table;}


.features h3 {
  margin: 40px 0 60px 0;
  font-size: 32px;}
@media only screen and (max-width: 800px) {
  .features h3 { font-size: 28px;}
}

.btn {
  margin: 0 10px;
  padding: 18px 26px;
  border: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #1C1F26;
  border-radius: 5px;
  font-size: 18px;
  color: #dfe1e8;
  -webkit-transition: 200ms background-color;
     -moz-transition: 200ms background-color;
       -o-transition: 200ms background-color;
          transition: 200ms background-color;
}

.btn.red { background-color: #bf616a; min-width: 220px;}
.btn.red:hover { background-color: #b9525c;}

.btn.blue { background-color: #5b90bf; min-width: 220px;}
.btn.blue:hover { background-color: #4c86b9;}

#recorder-bar {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;}

.micr {
  border: 5px solid #333;
  border-radius: 50%;
  outline: none;
  -webkit-border-radius: 50%;
  background-color: #5b90bf;
  -webkit-transition: 200ms background-color;
     -moz-transition: 200ms background-color;
       -o-transition: 200ms background-color;
          transition: 200ms background-color;
  -webkit-animation: micrplay 2.5s  linear infinite;
     -moz-animation: micrplay 2.5s  linear infinite;
      -ms-animation: micrplay 2.5s  linear infinite;
       -o-animation: micrplay 2.5s  linear infinite;

image-rendering: -moz-crisp-edges;         /* Firefox */
                   image-rendering:   -o-crisp-edges;         /* Opera */
                   image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
                   image-rendering: crisp-edges;
                   -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */}
.micr:hover {
  outline: none;
  background-color: #4c86b9;}

@-webkit-keyframes micrplay {
   0% { border: 5px solid #5b90bf; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #5b90bf; }}
@-moz-keyframes micrplay {
   0% { border: 5px solid #5b90bf; }
  50% { border: 5px solid #333; }
  100% { border: 5px solid #5b90bf; }}
@-ms-keyframes micrplay {
   0% { border: 5px solid #5b90bf; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #5b90bf; }}
@-o-keyframes micrplay {
   0% { border: 5px solid #5b90bf; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #bf616a; }}
@keyframes micrplay {
   0% { border: 5px solid #5b90bf; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #5b90bf; }}

.capture {
  display: inline-block;
  text-decoration: none;
  border: 5px solid #333;
  border-radius: 50%;
  outline: none;
  background-color: #bf616a;
  -webkit-transition: 200ms background-color;
     -moz-transition: 200ms background-color;
       -o-transition: 200ms background-color;
          transition: 200ms background-color;
  -webkit-animation: captureplay 2.5s  linear infinite;
     -moz-animation: captureplay 2.5s  linear infinite;
      -ms-animation: captureplay 2.5s  linear infinite;
       -o-animation: captureplay 2.5s  linear infinite;
}
.capture:hover {
  background-color: #b9525c;}

@-webkit-keyframes captureplay {
   0% { border: 5px solid #bf616a; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #bf616a; }}
@-moz-keyframes captureplay {
   0% { border: 5px solid #bf616a; }
  50% { border: 5px solid #333; }
  100% { border: 5px solid #bf616a; }}
@-ms-keyframes captureplay {
   0% { border: 5px solid #bf616a; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #bf616a; }}
@-o-keyframes captureplay {
   0% { border: 5px solid #bf616a; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #bf616a; }}
@keyframes captureplay {
   0% { border: 5px solid #bf616a; }
  50% { border: 5px solid #333; }
 100% { border: 5px solid #bf616a; }}

footer {
  clear: both;
  margin-top: 20px;
  text-align: center;
}
